doc
Meta

/.settings/
/.project
/src/
/devdata/
*.Rhistory
/inst/REFERENCES.bib.bak
.Rproj.user
*.Rproj
# History files
.Rhistory
.Rapp.history
.DS_Store
# produced vignettes
inst/doc/Age-heaping_quality_with_Demotools.html
inst/doc/Age-heaping_quality_with_Demotools.R
inst/doc/Age-heaping_quality_with_Demotools.Rmd
