/test.R
/Prof/
/abacusLIFTB.R
/AbacusLIFTB.r
/ADJAGE.R
/AGEINT.R
/AGESEX.R
/AGESMTH.R
/aomegaMortalityLaws.R
/Bachi.R
/Beers.R
/BeersMSplit.R
/BeersOInterpol.R
/CENSUR.R
/CoaleLi.R
/IRDID.R
/LIFIT.R
/LTidentities.R
/LTPOPDTH.R
/Myers.R
/nAx.R
/Noumbissi.R
/Spoorenberg.R
/Sprague.R
/SpragueOscillate.R
/SpragueSplit.R
/Whipple.R
/ZIGZAG.R
/utils.R
